@model RecipeListDetailViewModel
@{
    ViewData["Title"] = "Recipe";
}
@section Styles {
    <link href="@Url.Content("~/css/recipe.css")" rel="stylesheet" type="text/css" />
}
<div>

    @foreach(Recipe recipe in @Model.Recipes)
    {
        <h1>@recipe.Name</h1>
        @if(@recipe.CookTime > 0)
        {
            <p>@recipe.CookTime minutes</p>
        }
        <div class="d-flex flex-nowrap">
            <div id="listIngridients" class="col-3 m-1">
                <label class="textIngredient"> Ingridient 1 </label>
                <label class="textIngredient"> Ingridient 2 </label>
            </div>
            <div id="cookInstruction" class="col-9 m-1">
                <p>@recipe.Instruction</p>
            </div>
        </div>
    }

</div>
<div page-model="@Model.PagingInfo" page-action="RecipeListDetail"></div>

<!--To the navbar-->
@*<div>
        <button id="addNewRecipe">+</button>
        <br />
        <br />
        <button id="searchRecipe">Search</button>
        <br />
        <br />
        <button id="getAvailableRecipe">Highlight Available Ingridients</button>
    </div>*@
