@using ReStock.Web.Services.Utils
@model StockViewModel

@{
    ViewData["Title"] = "Stock";
}
@section Styles {
    <link href="@Url.Content("~/css/stock.css")" rel="stylesheet" type="text/css" />
}
@section Scripts{
    <script src="~/js/stock.js" asp-append-version="true" type="module"></script>
}

<a asp-action="AddShoppingItem">asdf</a>
<div id="backdrop"></div>
<!-- Modal for adding specific shopping list item -->
<div class="modal" id="addModal">
    <form method="post">
        <div class="modalContent">
            <label for="ItemName">Item name:</label>
            <input type="text" name="ItemName" id="itemName" />
            <label for="Amount">Amount:</label>
            <input type="text" name="Amount" id="itemAmount" />
        </div>
        <div class="modalAction">
            <button class="btn btnNo">Cancel</button>
            <button class="btn btnYes" type="submit">Add</button>
        </div>
    </form>
</div>

<!-- Shopping List  -->
<div class="d-flex">
    <!--Item List-->
    <div class="listCheckBoxContainer" id="shoppingList">
        @foreach(var shoppingItem in Model.ShoppingListItems)
        {
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    @shoppingItem.ItemName.ToUpperFirstChar()
                    @if(!string.IsNullOrEmpty(shoppingItem.Amount))
                    {
                        <a>(@shoppingItem.Amount)</a>
                    }
                </label>
            </div>
        }
    </div>
    <!--Item Action-->
    <div class="ml-4">
        <button type="button" class="btn btn-success" id="addShoppingItemBtn">+</button>
    </div>
</div>

<!-- Stock  -->
<div class="d-flex mt-5">
    <!--One table for each category-->
    @foreach(var item in Model.StockItemGroupByType)
    {
        <div class="flex-fill">
            <table class="table table-bordered table-striped stockTable">
                <!--Table header: Stock type-->
                <tr class="thead-dark">
                    <th colspan="2" scope="col">
                        @item.Key
                    </th>
                </tr>
                <!--Table content: Stock item for each type-->
                @foreach(var value in item.Value)
                {
                    <tr>
                        <td>
                            @value.Name
                            <button class="stockTableRemoveFromShoppingListButton">-</button>
                            <button class="stockTableAddToShoppingListButton">+</button>
                        </td>
                        <td>
                            @value.Amount
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
</div>


